// * START >>> [BANNER]
/*=============== HOME ===============*/

.banner {
  height: 100vh;
  color: $clr-dark;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 50vh 0 50vh 0;
  box-shadow: 2px 2px 4px lightblue, -2px -2px 4px #e4e4e4;
  background: url("../image/product/ca-phe-o-tho-nhi-ky-1.jpg") no-repeat;
  background-size: cover;
  @include flexbox(column, center);
  &-content {
    display: flex;
    flex-direction: column;
    color: $clr-light;
    width: 30%;
    &-button {
      border: 3px groove $clr-dark;
      padding: 1rem 2rem;
      margin-top: 1rem;
      border: 15px;
      background: $clr-dark;
      color: $clr-light;
      opacity: 75%;
      border-radius: 15px;
      text-align: center;
      &:hover {
        opacity: 100%;
        text-decoration: underline;
        transform: translateY(3px);
      }
    }
  }
}
@media screen and (max-width: $breakpoint-tablet-small) {
  .banner {
    font-size: 1.5rem;
    &-content {
      width: 100%;
      padding: 2rem;
      @include flexbox(column, center);
    }
  }
}
// * [BANNER] >>> END
