// * START >>> [BANNER]
/*=============== HOME ===============*/

.banner {
  margin: 5rem 1rem;
  width: calc(100vw - 2rem);
  height: 100vh;
  color: $clr-dark;
  font-size: 2rem;
  border-radius: 50vh;
  @include flexbox(row, flex-end);
  & img {
    box-shadow: 2px 2px 4px lightblue, -2px -2px 4px #e4e4e4;
    height: 100%;
    width: 50%;
    border-radius: 50vh 0 0 50vh;
    object-fit: cover;
  }
  &-content {
    color: $clr-dark;
    width: 50%;
    height: 100%;
    border-radius: 0 50vh 50vh 0;
    @include flexbox(column, center);
    padding: 3rem;
    &-button {
      border: 3px groove $clr-dark;
      padding: 1rem 2rem;
      margin-top: 1rem;
      border: 15px;
      background: $clr-dark;
      color: $clr-light;
      opacity: 75%;
      border-radius: 15px;
      text-align: center;
      &:hover {
        opacity: 100%;
        text-decoration: underline;
        transform: translateY(3px);
      }
    }
  }
}
@media screen and (max-width: $breakpoint-tablet-small) {
  .banner {
    margin: 3rem 0;
    @include flexbox(column-reverse, flex-end);
    & img {
      width: 100%;
      border-radius: 0 0 50vh 50vh;
    }
    font-size: 1.5rem;
    &-content {
      width: 100%;
      padding: 2rem;
      @include flexbox(column, center);
    }
  }
}
// * [BANNER] >>> END
