* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  overflow-x: hidden;
  font-size: var(--font-size-text);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  & span {
    color: $clr-light;
    background: $clr-dark;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
section {
  @include flexbox(column, none);
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: var(--clr-light-sub);
}
