:root {
  /* root > color */
  --clr-light: #fff;
  --clr-dark: #191919;
  --clr-special: green;
  --clr-light-sub: #eee;
  /* root > font-size */
  --font-size-text: 16px;
  /* root > box-shadow */
  --padding-default: 3rem;
  --padding-default-side: 0 3rem;
  --padding-default-top: 3rem;
  --padding-default-bottom: 3rem;
  /* root > box-shadow */
  --box-shadow-out: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  /* root > break-point */
  --media-tablet-large: 1150px;
  --media-tablet-medium: 991px;
  --media-tablet-small: 768px;
}

@media screen and (max-width: var(--media-tablet-medium)) {
  :root {
    --font-size-text: 16px;
    /* root > box-shadow */
    --padding-default: 1rem 2rem;
    --padding-default-side: 0 2rem;
    --padding-default-top: 2rem;
    --padding-default-bottom: 2rem;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  overflow-x: hidden;
  font-size: var(--font-size-text);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  & span {
    color: $clr-light;
    background: $clr-dark;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: $breakpoint-tablet-small) {
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
section {
  @include flexbox(column, none);
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: var(--clr-light-sub);
}
