* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  overflow-x: hidden;
  font-size: var(--font-size-text);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
h1 span {
  color: #fff;
  background: #191919;
  padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: var(--clr-light-sub);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  height: 60px;
  box-shadow: 0px 0px 10px lightgrey;
  z-index: 1000;
}

header .logo {
  color: #191919;
  font-size: 2.5rem;
  font-weight: bolder;
}

header .navbar a {
  margin-right: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #191919;
}

header .navbar a.active,
header .navbar a:hover {
  background: #191919;
  color: #fff;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-bars,
.header-icons i,
.header-icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #191919;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-bars,
.icons i:hover,
.icons a:hover {
  transform: rotate(360deg);
}

#menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form #search-box {
  width: 50vw;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: transparent;
}

#search-form #search-box::-moz-placeholder {
  color: #eee;
}

#search-form #search-box:-ms-input-placeholder {
  color: #eee;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  /* display: none; */
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form #close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

#search-form.active {
  top: 0;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: none;
    align-items: center;
    padding: 1rem 1rem;
  }

  header .logo {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: 1001;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
  }

  #menu-bars {
    display: flex;
  }

  #search-form #search-box {
    width: 50vw;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 20px !important;
    text-transform: none;
    background: transparent;
  }

  #search-form #search-box::-moz-placeholder {
    color: #eee;
  }

  #search-form #search-box:-ms-input-placeholder {
    color: #eee;
  }

  #search-form #search-box::placeholder {
    color: #eee;
  }

  #search-form #search-box::-webkit-search-cancel-button {
    /* display: none; */
    -webkit-appearance: none;
  }

  #search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 20px !important;
  }

  #search-form #close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: #fff;
    font-size: 20px !important;
    cursor: pointer;
  }

  #search-form.active {
    top: 0;
  }
}
/*=============== HOME ===============*/
.banner {
  margin: 5rem 1rem;
  width: calc(100vw - 2rem);
  height: 100vh;
  color: #191919;
  font-size: 2rem;
  border-radius: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.banner img {
  box-shadow: 2px 2px 4px lightblue, -2px -2px 4px #e4e4e4;
  height: 100%;
  width: 50%;
  border-radius: 50vh 0 0 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-content {
  color: #191919;
  width: 50%;
  height: 100%;
  border-radius: 0 50vh 50vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.banner-content-button {
  border: 3px groove #191919;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: 15px;
  background: #191919;
  color: #fff;
  opacity: 75%;
  border-radius: 15px;
  text-align: center;
}
.banner-content-button:hover {
  opacity: 100%;
  text-decoration: underline;
  transform: translateY(3px);
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 3rem 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
  }
  .banner img {
    width: 100%;
    border-radius: 0 0 50vh 50vh;
  }
  .banner-content {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 1rem;
}
.products-data {
  display: grid;
  gap: 3rem;
  grid-template-columns: 30% 30% 30%;
}
.products-item {
  width: 320px;
  margin: 1rem 0.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  background: transparent;
  border-radius: 0 50px 0 50px;
  box-shadow: 2px 2px 4px lightblue, -2px -2px 4px #e4e4e4;
}
.products-item-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.products-item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-item-image img:hover {
  transform: scale(1.1);
}
.products-item-content {
  display: grid;
  gap: none;
  grid-template-rows: 30px auto;
  padding: 1rem 2rem 3rem;
}
.products-item-description {
  overflow: hidden;
  position: relative;
}
.products-item-description .read-more {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background: rgba(25, 25, 25, 0.862745098);
  color: #fff;
  transition: 5s ease-in-out;
}
.products-item-description .read-more:hover {
  text-decoration: underline;
  font-weight: 500;
  transform: translateY(-10px);
  transition: 1s ease-in-out;
}
.products-item-description:hover .read-more {
  display: block;
}
.products-item:hover {
  transform: scale(1.025);
  transition: 0.5s ease-in;
}

@media screen and (max-width: 768px) {
  .products-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.review {
  width: 100%;
}
.review-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.review-container .box {
  text-align: left;
  padding: 3rem 2rem;
  width: 320px;
  border-radius: 160px 160px 0 0;
  box-shadow: 2px 2px 4px lightblue, -2px -2px 4px #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.review-container .box img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px groove lightblue;
}
.review-container .box p {
  padding: 2rem 0;
}
.review-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
}
.review-container .box .stars i {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .review {
    width: 100%;
  }
  .review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.footer .credits {
  padding: 1rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #191919;
  color: #fff;
  font-size: 16px;
}
.footer .credits-author {
  color: goldenrod;
}

.socialBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.socialBar-bg {
  padding: 1rem 3rem;
  width: 100%;
  border-top: 1px solid #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.socialBar-data {
  border-left: 1px solid #191919;
  padding: 0.5rem 1rem;
  height: 10vh;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.socialBar-item a {
  color: inherit;
}
.socialBar-item a:hover {
  border: dashed 1px goldenrod;
}
.socialBar-contact {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socialBar-contact .map {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.socialBar-contact .content {
  width: 320px;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.share .socialBar-item {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .socialBar-contact {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .socialBar-contact .map {
    width: 320px;
    height: 320px;
    margin-right: 0;
    margin: 2rem 0;
    overflow: hidden;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    padding-bottom: 3rem;
  }

  .credits {
    flex-direction: column;
    font-size: 16px;
  }
  .credits p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */